body {
  margin:0;
  background: linear-gradient(135deg,#ffe4ec,#ffd6e0,#fff0f5);
  color:#4a2c2a;
  font-family:'Segoe UI', sans-serif;
  text-align:center;
  overflow:hidden;
}

/* center */
.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:90%;
}

/* start screen */
.start h1 {
  color:#ff4d6d;
}

.btn {
  margin-top:20px;
  padding:12px 25px;
  border:none;
  border-radius:25px;
  background:#ff4d6d;
  color:white;
}

/* text */
.text {
  max-width:90%;
  font-size:1.2rem;
  line-height:1.7;
  opacity:0;
  transition:1s;
  margin:auto;
}

/* album */
.album {
  position:absolute;
  bottom:20px;
  width:100%;
}

.album h2 {
  color:#ff4d6d;
}

/* gallery */
.gallery {
  display:flex;
  justify-content:center;
  gap:10px;
}

.gallery img {
  width:90px;
  height:90px;
  object-fit:cover;
  border-radius:10px;
}

/* viewer */
.viewer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.viewer img {
  width:90%;
  max-width:400px;
  border-radius:15px;
}

/* hidden */
.hidden {
  display:none;
}
